@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
    name: "light";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(98% 0.016 73.684);
    --color-base-200: oklch(95% 0.038 75.164);
    --color-base-300: oklch(90% 0.076 70.697);
    --color-base-content: oklch(40% 0.123 38.172);
    --color-primary: oklch(62% 0.265 303.9);
    --color-primary-content: oklch(97% 0.014 308.299);
    --color-secondary: oklch(70% 0.213 47.604);
    --color-secondary-content: oklch(98% 0.016 73.684);
    --color-accent: oklch(55% 0.027 264.364);
    --color-accent-content: oklch(98% 0.002 247.839);
    --color-neutral: oklch(26% 0.079 36.259);
    --color-neutral-content: oklch(98% 0.016 73.684);
    --color-info: oklch(58% 0.158 241.966);
    --color-info-content: oklch(97% 0.013 236.62);
    --color-success: oklch(62% 0.194 149.214);
    --color-success-content: oklch(98% 0.018 155.826);
    --color-warning: oklch(66% 0.179 58.318);
    --color-warning-content: oklch(98% 0.022 95.277);
    --color-error: oklch(59% 0.249 0.584);
    --color-error-content: oklch(97% 0.014 343.198);
    --radius-selector: 0.25rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}
