@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
    name: "light";
    default: false;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: oklch(28% 0.141 291.089);
    --color-base-200: oklch(38% 0.189 293.745);
    --color-base-300: oklch(43% 0.232 292.759);
    --color-base-content: oklch(94% 0.029 294.588);
    --color-primary: oklch(62% 0.214 259.815);
    --color-primary-content: oklch(97% 0.014 254.604);
    --color-secondary: oklch(65% 0.241 354.308);
    --color-secondary-content: oklch(97% 0.014 343.198);
    --color-accent: oklch(76% 0.233 130.85);
    --color-accent-content: oklch(98% 0.031 120.757);
    --color-neutral: oklch(49% 0.27 292.581);
    --color-neutral-content: oklch(96% 0.016 293.756);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(84% 0.238 128.85);
    --color-success-content: oklch(27% 0.072 132.109);
    --color-warning: oklch(75% 0.183 55.934);
    --color-warning-content: oklch(26% 0.079 36.259);
    --color-error: oklch(71% 0.202 349.761);
    --color-error-content: oklch(28% 0.109 3.907);
    --radius-selector: 0.25rem;
    --radius-field: 0.25rem;
    --radius-box: 0.25rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 1;
}
